<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
<div class="panel panel-default">
  <div class="panel-heading">Customers</div>
  <div class="panel-body">

    <table class="table table-hover" *ngIf="customers.length>0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Charges</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.custName}}</td>
          <td>{{customer.type}} </td>
          <td>{{customer.description}}</td>
          <td>{{customer.totalCharges | currency:'USD':'$'}}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/customers/details/', customer.id]">View</a>
            <a class="btn btn-primary" [routerLink]="['/customers/update/', customer.id]">Update </a>
            <a class="btn btn-primary" (click)="deleteCustomer(customer.id)">Delete </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="norecords" *ngIf="!(customers.length>0)">
      No Pending Requests
    </div>
  </div>
  <div class="panel-footer">
    <a class="btn btn-primary" [routerLink]="['/customers/add']"> Add New Customer </a>
  </div>
</div>
