<div class="panel">
  <div class="panel-body">
    <div class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="searchTextBox">Search Text</label>
        <div class="input-group">
          <div class="input-group-addon"> 
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </div>
          <input type="text" class="form-control" #searchTextBox="ngModel" name="searchTextBox" id="searchTextBox" placeholder="Search Text" [(ngModel)]="searchText" (keyup)="filterProducts()">
    
        </div>
      </div>
      <a  class="btn btn-primary" (click)="filterProducts()">Search</a>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Products
  </div>
  <div class="panel-body">
    <div class="well product-well" *ngFor="let product of visibleProducts">
      <app-product [productName]='product.Name' [cost]='product.Cost' [discount]='product.Discount' [id]="product.Id" [imgSrc]="product.ImageSrc" [buttonAction]="product.buttonAction" ></app-product>
    </div>
    <div  *ngIf="visibleProducts.length==0">
      No results found
    </div>
  </div>
</div>