<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-inline">
      <div class="form-group">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        <input type="text" [(ngModel)]="searchText" class="form-control" id="searchField" placeholder="Search Text">
      </div>

      <a [routerLink]="['/user/search', searchText]" class="btn btn-default">Search</a>
    </div>

  </div>
</div>

<div class="panel panel-default" *ngIf="offerProducts.length>0">
  <div class="panel-heading">
    Offers
  </div>
  <div class="panel-body products">
    <div class="well product-well" *ngFor="let product of offerProducts">
      <app-product [productName]='product.Name' [cost]='product.Cost' [discount]='product.Discount' [imgSrc]="product.ImageSrc" [buttonAction]="product.buttonAction" (addToCartEvent)='handleAddRemoveProduct($event)' (removeFromCartEvent)="handleAddRemoveProduct($event)" [id]="product.Id"></app-product>
    </div>
  </div>
</div>
<div class="panel panel-default" *ngIf="lastSearched.length>0">
  <div class="panel-heading">
    Last Searched Items
  </div>
  <div class="panel-body products">
    <div class="well product-well" *ngFor="let product of lastSearched">
      <app-product [productName]='product.Name' [cost]='product.Cost'  [id]="product.Id" [discount]='product.Discount' [imgSrc]="product.ImageSrc" [buttonAction]="product.buttonAction" (addToCartEvent)='handleAddRemoveProduct($event)' (removeFromCartEvent)="handleAddRemoveProduct($event)" ></app-product>
    </div>
  </div>
</div>
