<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form class="form" name="customerAddForm" >

      <div class="form-group">
        <label class="control-label" for="custName">Name</label>
        <div class="well"> {{ customer.custName }} </div>
      </div>


      <div class="form-group" >
        <label class="control-label" for="age">Age</label>
        <div class="well"> {{ customer.age }} </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="description">Description</label>
        <div class="well"> {{ customer.description }} </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="mobileNumber">Mobile Number</label>
        <div class="well"> {{ customer.mobileNumber }} </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="address">Address</label>
        <div class="well"> {{ customer.address }} </div>

      </div>

      <div class="form-group" >
        <label for="">Customer Type</label>
        <div class="well"> {{ customer.type }} </div>

      </div>

      <div class="form-group"  >
        <label for="">Loyalty Program Subscribed</label>
        <div class="well"> {{ customer.loyalProgramSubscribed }} </div>
      </div>

      <div class="form-group" >
        <label class="control-label" for="pickupDate">Pickup Date</label>
        <div class="well"> {{ customer.pickupDate }} </div>
      </div>


      <div class="form-group" >
        <label class="control-label" for="charges">Charges(per/km)</label>
        <div class="well"> {{ customer.charges }} </div>
      </div>

      <div class="form-group" >
        <label class="control-label" for="numberOfEmployees">Number of Employees</label>
        <div class="well"> {{ customer.numberOfEmployees }} </div>
      </div>

      <div class="form-group" >
        <label class="control-label" for="distanceTravelled">Distance Travelled</label>
        <div class="well"> {{ customer.distanceTravelled }} </div>
      </div>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
<br/>
<br/>
